{
    # 글로벌 옵션 블록 (필요에 따라 추가 설정 가능)
}

:80 {
    handle {
        reverse_proxy frontend:3000
    }

    handle /api/auth* {
        uri strip_prefix /api/auth
        reverse_proxy {
            to auth:3000
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }

    handle /api/articles* {
        uri strip_prefix /api/articles
        reverse_proxy {
            to article:3000
            header_up Host {host}
            header_up X-Real-IP {remote}
        }
    }
}